<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
  <a class="navbar-brand" href="#">ShopOnline</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>

      <% if user_signed_in? %>
      <li class="nav-item">
        <%= link_to "Profile", "/users/"+current_user.id.to_s, :class=>"nav-link" %>
      </li>
      <%end%>
    </ul>
    <div class="d-flex flex-row">

<%if total_cart_items%>
  <%=   link_to cart_path(@cart), class:" s button is-warning" do%>
  <span class="icon is-small">
    <i class="fa fa-shopping-cart">

    </i>
  </span>
  <span>
    Cart
    <%= cart_count_over_one%>
  </span>
<%end%>
<%end%>
<div class="m-2">
  <%= search_form_for @q do |f| %>

  <%= f.label :name_cont %>
  <%= f.search_field :name_cont %>



  <%= f.submit %>
</div>

<% end %>
<% if user_signed_in? %>
    <div>
    <%= link_to  'Sign Out' , destroy_user_session_path, :method => :delete%>
    <%p " if current_user.avatar.present?" %>
    <%current_user.avatar.present? %>
    <%if current_user.avatar !=nil %>
      <%# <%=image_tag(current_user.avatar ,alt: "avatar", class: "rounded-circle", id: "avatar",:alt => "rss feed", :height =>"60", :width => "60") %> %>
    <%end%>

    </div>

  <%else%>
    <%= link_to  'Sign In' , user_session_path%>
<%end%>
    </div>

  </div>

</nav>

<div class="container mt-2">
  <%@products.each do |product|%>
   <div class="border d-flex flex-row p-3 m-1">
   <% if product.images.attached?%>
      <div>
        <%=image_tag(product.images.first ,alt: "avatar", class: "rounded", id: "avatar",:alt => "rss feed", :height =>"200", :width => "200") %>
      </div>
     <%else%>
    <img src="..." alt=""  width="200" height="200">
    <%end%>

    <div class="flex-column p-3 m-2">
      <h4>
        <%=product.name%>
      </h4>
      <p class="mt-1">
        <%=product.product_type%>
      </p>
      <%if product.quantity%>
      <%if product.quantity>0%>
      <p class="mt-1 text-red">
        <%=product.quantity%>
      </p>
      <%else%>
      <p class="mt-1 text-red text-danger">
        Out of stock
      </p>
      <%end%>
      <%else%>
      <p class="mt-1 text-red text-danger">
        Out of stock
      </p>
      <%end%>
      <p class="mt-1 text-danger">
        $ <%=product.price%>
      </p>
      <%= link_to "View",product, :class=>"btn btn-dark" %>
    </div>

    </div>




  <% if false%>

    <div class="card d-flex flex-row mt-2" style="width: 18rem">
    <% if product.images.attached?%>
    <div>
    <%= image_tag(product.images.first, alt: "avatar", class: "card-img-top", id: "avatar") %>
    </div>
    <%else%>
    <img src="..." alt="" class="card-img-top">
    <%end%>



      <div class="card-body">
        <h5 class="card-title"><%=product.name%></h5>
        <p class="card-text">
          This is product
        </p>
        <%= %>
          <%= link_to "<button >View </button>".html_safe, product%>

      </div>
    </div>
    <%end%>
  <%end%>

</div>
