<%= link_to 'Back', products_path %>
<div class="container-fluid m-0">
  <div class="text-center">
    <h1>
      <%=@product.name%></h1>
    <div class="container" style ="width:80vh">
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <%# loop over images %>
          <% if @product.images.present?%>
            <div class="carousel-item active">
              <%= image_tag(@product.images.first, alt: "avatar", class: "d-block w-100", id: "avatar",:height =>"400", :width => "400") %>
            </div>
            <%@product.images.each do |image|%>
              <div class="carousel-item">
                <%= image_tag(image, alt: "avatar", class: "d-block w-100", id: "avatar",:height =>"400", :width => "400") %>
              </div>
            <%end%>
          <%else%>
            <h1>No images</h1>
            <img src="/assets/Unknown.jpeg" alt=""  width="400" height="400">
          <%end%>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
    <p><%= @product.id %></p>
    <%if user_signed_in?%>
      <%if current_user.id==@product.user_id%>
        <p>you cannot add your own product in cart</p>
      <%else%>
        <%if @product.quantity%>
          <%if @product.quantity>0%>
            <p class="mt-1 text-red">
              <%= button_to 'Add To Cart' , line_items_path(product_id: @product, actions: "+"), class: 'button is-warning add-to-cart'%>
            </p>
          <%else%>
            <p class="mt-1 text-red text-danger">
              Out of stock
            </p>
          <%end%>
        <%else%>
          <p class="mt-1 text-red text-danger">
            Out of stock
          </p>
        <%end%>
      <%end%>
    <%else%>
      <%if @product.quantity%>
        <%if @product.quantity>0%>
          <p class="mt-1 text-red">
            <%= button_to 'Add To Cart' , line_items_path(product_id: @product, actions: "+"), class: 'button is-warning add-to-cart'%>
          </p>
        <%else%>
          <p class="mt-1 text-red text-danger">
            Out of stock
          </p>
        <%end%>
      <%else%>
        <p class="mt-1 text-red text-danger">
          Out of stock
        </p>
      <%end%>
    <%end%>
  </div>
</div>
<%if user_signed_in?%>
  <div class="text-center">
    <%if current_user.id==@product.user_id %>
      You cannot comment on your own product
    <%else %>
      <h2>Add a Comment:</h2>
      <%= form_with model: [ @product, @product.comments.build ], remote: true do |form| %>
        <p>
          <%= form.label :body %><br>
          <%=form.text_field :body %>
        </p>
        <p>
          <%= form.submit %>
        </p>
      <%end%>
    <% end %>
  </div>
<%else %>
  <h3>
    login to comment on products
  </h3>
<%end %>

<div class="m-5">
</div>
<table class="table">

  <tbody>
    <div id="comment_pane">
      <%@product.comments.order( 'created_at DESC' ).each do |comment|%>
        <tr>
          <th scope="row">1</th>
          <td><%=comment.commenter%> </td>
          <td><%=comment.body%> </td>
          <%if user_signed_in?%>
            <%if current_user.id==comment.user_id %>
              <td>
                <li><%= link_to "Edit", edit_product_comment_path(id: comment.id, product_id: @product.id), :remote => true %></li>
                <li><%= link_to "Destroy", comment_path(comment) , method: :delete, data: {confirm: "Are You Sure"}%></li>
              </td>
              <div id="edit_comment" >
              </div>
            <%end%>
          <%end%>
        </tr>
      <%end%>
    </div>
  </tbody>
</table>
<%# Add Product %>
